<beans xmlns="http://www.springframework.org/schema/beans" xmlns:security="http://www.springframework.org/schema/security" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <context:annotation-config />
    <!-- <mvc:annotation-driven /> -->
    <!-- <bean id="basicAuthenticationFilter" class="org.springframework.security.web.authentication.www.BasicAuthenticationFilter">
        <constructor-arg ref="authenticationManager" />
    </bean>

    <bean id="fiterChainProxy" class="org.springframework.security.web.FilterChainProxy">
        <constructor-arg>
            <list>
                <security:filter-chain pattern="/*" filters="basicAuthenticationFilter" />
            </list>
        </constructor-arg>
    </bean> -->
    <!-- 
    <security:http auto-config="true">
        <security:form-login/>
        <security:logout/>
        <security:intercept-url pattern="/admin/*" access="hasRole('ROLE_USER')"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="hadeer" password="$2a$10$tfd056zSk1JyGpIwEszSQef3vJLgta6E8bTfsf/7ZSXv441PuSll2" authorities="ROLE_USER" />
            </security:user-service>
            <security:password-encoder hash="bcrypt" />
        </security:authentication-provider>
    </security:authentication-manager> -->


</beans>